ConfigFolder: './Demos'
API:
  PathPrefix: ''
  Port: 8080
VMware:
  URL: ''
  User: ''
  Password: ''
  Insecure: 'true'
  DataCenter: ''
  DemoFolder: ''
PostgreSQL:
  Host:      ''
  User:     ''
  Password: ''
  Database: 'dod_db'
  Port: 5432
LDAP:
  BindUser: ''
  BindPassword: ''